@font-face {
   font-family: "Figtree-Regular";
   src: url('./fonts/Figtree/static/Figtree-Regular.ttf') format('truetype')
}

@font-face {
   font-family: "Figtree-Light";
   src: url('./fonts/Figtree/static/Figtree-Light.ttf') format('truetype')
}

@font-face {
   font-family: "Figtree-Medium";
   src: url('./fonts/Figtree/static/Figtree-Medium.ttf') format('truetype')
}

@font-face {
   font-family: "Figtree-Bold";
   src: url('./fonts/Figtree/static/Figtree-Bold.ttf') format('truetype')
}

@font-face {
   font-family: "Figtree-SemiBold";
   src: url('./fonts/Figtree/static/Figtree-SemiBold.ttf') format('truetype')
}

@font-face {
   font-family: "Figtree-ExtraBold";
   src: url('./fonts/Figtree/static/Figtree-ExtraBold.ttf') format('truetype')
}

body {
   font-family: 'Figtree-Regular';
}

@tailwind base;
@tailwind components;
@tailwind utilities;